# Ensure text files use LF in the repository
* text=auto

# Handle specific file types
*.js   text eol=lf
*.jsx  text eol=lf
*.ts   text eol=lf
*.tsx  text eol=lf
*.json text eol=lf
*.css  text eol=lf
*.md   text eol=lf